@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;0,800;1,400;1,700&display=swap');
.carousel .item {
    height: 100px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
  }


body{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    h2{
        font-size:40px;
    }
}
  